<div class="control-label col-md-12">
    {{ form_widget(form.audioResource) }}
    {{ form_errors(form.audioResource) }}
</div>

<hr/> 

<div class="row">
    <div class="col-md-12">
        <div id="wave-timeline"></div>
        <div id="waveform">
            <div class="progress progress-striped active" id="progress-bar">
                <div class="progress-bar progress-bar-info"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <div class="btn-group">
            <span class="btn btn-default" onclick="playPause()">
                <i class="fa fa-play"></i><i class="fa fa-pause"></i>
            </span>
            <button id="submit-button" class="btn btn-default" onclick="submitAnswer()"><i class="fa fa-ok"></i></button>
            <span  class="btn btn-default" onclick="removeRegions(true)"><i class="fa fa-trash"></i></span>
        </div>
    </div>
</div>

<div class="row">
	<div class="col-md-12">
		<table id="regions" class="table" data-prototype="{{ form_widget(form.audioMarks.vars.prototype)|e }}">
		{% for i, audioMark in form.audioMarks %}
			<tr id="audiomark-{{ audioMark.vars.value.id }}" data-mark-id="{{ audioMark.vars.value.id }}" class="region">
                <td>
                    {{ form_row(audioMark.start) }}
                    {{ form_row(audioMark.end) }}
                </td>
			</tr>
		{% endfor %}
		</table>
	</div>
</div>


<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/libs/wavesurfer/wavesurfer.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/libs/wavesurfer/plugins/wavesurfer.timeline.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/libs/wavesurfer/plugins/wavesurfer.regions.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/libs/wavesurfer/plugins/wavesurfer.minimap.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/interactionAudioMark.js') }}"></script>