<div class="control-label col-md-12">
    {{ form_widget(form.audioResource) }}
    {{ form_errors(form.audioResource) }}
</div>

<hr/> 

<div class="row">
    <div class="col-md-12">
        <div id="wave-timeline"></div>
        <div id="waveform">
            <div class="progress progress-striped active" id="progress-bar">
                <div class="progress-bar progress-bar-info"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <div class="btn-group">
            <span class="btn btn-default" onclick="playPause()">
                <i class="fa fa-play"></i><i class="fa fa-pause"></i>
            </span>
            <span  class="btn btn-default" onclick="removeRegions(true)"><i class="fa fa-trash"></i></span>
        </div>
    </div>
</div>

<div class="row">
	<div class="col-md-12">
		<ul id="regions" class="list-group " data-prototype="{{ _self.audiomark_prototype(form.audioMarks.vars.prototype)|e }}">
    		{% for audioMark in form.audioMarks %}
                <li id="audiomark-{{ audioMark.vars.value.id }}" data-mark-id="{{ audioMark.vars.value.id }}" class="region list-group-item">
    			 {{ _self.audiomark_prototype(audioMark) }}
                </li>
    		{% endfor %}
		</ul>
	</div>
</div>

<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/libs/wavesurfer/wavesurfer.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/libs/wavesurfer/plugins/wavesurfer.timeline.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/libs/wavesurfer/plugins/wavesurfer.regions.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/libs/wavesurfer/plugins/wavesurfer.minimap.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/interactionAudioMark.js') }}"></script>


{% macro audiomark_prototype(audioMark) %}
    <div class="row">
        <div class="col-md-7">
            {{ form_row(audioMark.feedback) }}
            {{ form_row(audioMark.internTolerancy) }}
            {{ form_row(audioMark.leftTolerancy) }}
            {{ form_row(audioMark.rightTolerancy) }}
        </div>
        <div class="col-md-2">
            {{ form_row(audioMark.rightAnswer) }}
            {{ form_row(audioMark.end) }}
            {{ form_row(audioMark.start) }}
        </div>
        <div class="col-md-3 buttons">
        </div>
    </div>
{% endmacro %}