<tr id="audiomark-{{ audioMark.vars.value.id }}" data-mark-id="{{ audioMark.vars.value.id }}" class="region">
    <td>
        {{ form_row(audioMark.start) }}
        {{ form_row(audioMark.end) }}
        {{ form_row(audioMark.feedback) }}
        {{ form_row(audioMark.leftTolerancy) }}
        {{ form_row(audioMark.rightTolerancy) }}
        {{ form_row(audioMark.rightAnswer) }}
    </td>
</tr>